body{
font-family: "Libre Caslon Display";
font-size: 27;
color: goldenrod;
background-color: rgb(165, 53, 73);
}

.libre-caslon display-regular{
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
}
  
.container{
padding-top: 75px;
width: 70%;
margin: auto;
}
a:visited{
    color: rgb(34, 19, 6);
}
a:hover{
    color: rgb(193, 255, 255);
}
a{
    color: goldenrod;
}