@font-face {
    font-family: 'Fraktur';
    src: url('fonts/fraktur/KaTeX_Fraktur-Bold.woff') format('woff2'),
        url('fonts/fraktur/KaTeX_Fraktur-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
h1{
    font-family: 'Fraktur';
    color: rgb(170, 17, 65);
    text-align: center;
    font-size: 140px;
    text-shadow: 2px 4px 4px rgb(73, 2, 24);
}

body{
    width: 1800;
    margin: auto;
}

.banner{
    height: 300px;
    background-image: url(images/IMG_7168\ 2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(12, 79, 60);
    padding: 20;
    width: auto; 
}

.p2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(71, 52, 2);
    text-align: center;
    margin: auto;
    font-size: 23;
}

.day{
    background-color: rgb(166, 124, 18);
    text-align: center;
    width: 225px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: end;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(12, 79, 60);
    padding: 40;
    width: auto;
}

.item{
    background-color: rgb(98, 4, 34);
    width: 225px;
    height: 225px;
    margin: 10px;
    display: flex;
    justify-content: end;
}

.itemdark{
    background-color: rgb(73, 2, 24);
    width: 225px;
    height: 225px;
    margin: 10px;
    display: flex;
    justify-content: end;
}

.emerald{
    background-color: rgb(12, 79, 60);
    width: 225px;
    height: 225px;
    margin: 10px;
    display: flex;
    justify-content: end;
}

.item p{    
    font-family: 'Fraktur';
    color: blanchedalmond;
    padding-right:  10px;
}
.p1{
    color:rgb(160, 76, 103);
    padding-right:  10px;
}